@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.userpic{
  display: inline-block;
  margin-top: -48px;
  margin-left: 10px;
  }
  .background-pic{
    height: 278px;
  }